#edit-task-form {
  width: calc(50% - 24px);
  padding: getPx(3);
  @include align-center;

  .field-item {
    margin: getPx(4) auto;
  }

  .form-footer {
    @include flex-between-nowrap;
    @include align-center;
    width: getPx(105);

    .field {
      width: 48%;
      padding: 0;

      &.cancel {
        height: 34px;
      }

      #cancel-new-task {
        width: 100%;
        padding: 0;
        height: 100%;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}