.task-card-component {
  width: calc(45% - 20px);
  padding: getPx(5);
  margin-bottom: getPx(5);
  background: $white-color;
  border-radius: $normal-border-radius;
  text-align: left;
  @include box-shadow-standard;

  @media screen and (max-width: $small-breakpoint) {
    width: calc(100% - 40px);
  }

  @media screen and (min-width: $large-breakpoint) {
    width: calc(29% - 20px);
    margin: getPx(2.5);
  }

  @media screen and (min-width: $extra-large-breakpoint) {
    width: calc(21% - 20px);
    margin: getPx(2.5);
  }


  .card-title {
    width: 100%;
    margin-bottom: getPx(4);
    font-weight: $extra-bold-font-weight;
    font-size: $large-font-size;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-description {
    height: getPx(25);
    margin-bottom: getPx(4);
    overflow: auto;
  }

  .card-navigation {
    @include flex-between-nowrap;

    .status {
      width: 50%;

      .status-label {
        @include flex-center;
        height: getPx(9);
        border-radius: $normal-border-radius;
        width: 100%;
        background-color: $primary-color;
        color: $white-color;
        text-align: center;
        text-transform: capitalize;
      }
    }

    .edit {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        background: none;
        border: none;
        font-size: $icon-font-size;
        cursor: pointer;
      }
    }
  }
}