#tasks-component {
  min-height: 400px;
  background-color: $primary-color;

  .header {
    @include flex-center;
    height: getPx(13);
    width: 100%;
    float: left;
    padding: 0;
    color: $white-color;
    font-size: $extra-large-font-size;
    background-color: $primary-color;
  }

  #task-list {
    #task-list-wrapper {
      @include flex-between-wrap;
      padding: getPx(5);
      width: calc(100% - 40px);
      min-height: 300px;
      max-height: 500px;
      overflow: auto;
      border-radius: $large-border-radius;
      background-color: $panel-color;

      @media screen and (min-width: $large-breakpoint) {
      justify-content: inherit;
    }

      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $panel-color;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $scrollbar-thumb;
        border-radius: $normal-border-radius;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    .no-tasks {
      @include align-center;
      margin-top: getPx(25);

      p {
        margin: 0;
        line-height: getPx(6);
        font-size: $large-font-size;
      }
    }

  }
}