#add-new-task-form {
  width: calc(50% - 24px);
  padding: getPx(3);
  @include align-center;

  form {
    fieldset {
      .field {
        &#add-new-task {
          width: calc(100% + 10px);
          @include align-center;
        }
      }
    }
  }
}