@import "scss/index";
@import "components/AddNewTaskComponent/AddNewTaskComponent";
@import "src/components/TaskCardComponent/TaskCardComponent";
@import "src/components/EditTaskComponent/EditTaskComponent";
@import "src/components/TasksComponent/TasksComponent";

.App {
  text-align: center;
  background: $white-color;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1775b9;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input, textarea {
  &::placeholder {
    font-size: 13px
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
