.field {
  width: 100%;
  padding: 0 0 0 getPx(2.5);
  background: $field-color;
  border: none;
  border-bottom: 1px solid $border-color;
  border-top-left-radius: $light-border-radius;
  border-top-right-radius: $light-border-radius;
  outline: none;

  &:focus {
    border-bottom: 1px solid $primary-color;
  }

  &.input {
    height: getPx(9);
  }

  &.cancel {
    height: getPx(9);
    border: 1px solid $border-color;
    color: $border-color;
    background: $white-color;
  }

  &.select {
    width: calc(100% + 10px);
    margin: 0 auto;
    padding: 0;
    border-bottom: none;
  }

  &.textarea {
    padding-top: getPx(3);
    padding-bottom: getPx(3);
    resize: none;
  }

  &.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: getPx(9);
    border: none;
    border-radius: $light-border-radius;
    color: $white-color;
    background-color: $primary-color;
    cursor: pointer;
    border-bottom: none;
    text-decoration: none;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      color: white;
      cursor: pointer;
    }

    svg {
      margin-right: getPx(1.5);
      font-size: $large-font-size;
    }
  }
}

.form {
  @media screen and (max-width: $medium-breakpoint) {
    width: calc(100% - 24px) !important;
  }
}

form {
  fieldset {
    border: none;
    padding-left: 0;
    margin: 0;

    legend {
      text-align: left;
      font-size: $extra-large-font-size;
      font-weight: $extra-bold-font-weight;
    }
  }
}

.warning-message {
  line-height: getPx(8);
  color: orangered;
}