$standard-font-weight: 400;
$bold-font-weight: 600;
$extra-bold-font-weight: 700;
$extra-large-font-size: 30px;

$normal-font-size: 13px;
$large-font-size: 18px;
$extra-large-font-size: 20px;
$icon-font-size: 30px;