@mixin box-shadow-standard {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@mixin flex-between-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

@mixin flex-between-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin align-center {
  margin: 0 auto;
}
