.react-select {
  &__control {
    background-color: $field-color !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px solid $border-color;
    box-shadow: none !important;
    text-align: left;
  }

  &__placeholder {
    font-size: $normal-font-size;
  }

  &__indicators {
    cursor: pointer;
  }

  &__menu {
    .react-select__option {
      text-align: left;
    }
  }
}